/*
* {
    border: 1px red solid;
}
*/

html {
    height: 100%;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #6D6E70;
    font-family: Dosis;
}

.header {
    text-align: center;
    margin-top: 10%;
}

#title {
    font-size: 3em;
}

.content {
    text-align: center;
}

.topspace {
    height: 30%
}

.bottomspace {
    height: 30%
}

#camera {
    width: 70%;
    height: 20em;
    border: 1px blue dashed;
    margin: auto;
}

#button {
    border: 1px #58C6D1 dashed;
}

#CodeSearch * {
    font-size: 2em;
    font-family: Dosis;
}

#BarcodeForm {
    border: 1px #58C6D1 solid;
    text-align: center;
    padding: 0.5em;
    width: 50%;
    border-radius: 25px;
}

#SubmitButton {
    background-color: #58C6D1;
    color: white;
    padding: 0.5em;
    border-radius: 25px;
}

.footer {
    clear: both;
    position: fixed;
    bottom: 0;
    background-color: #58c6d2;
    height: 70px;
    width: 100%;
    margin: 0;
    text-align: center;
    color: white;
}