/*
* {
    border: 1px red solid;
}
*/

html {
    height: 100%;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #6D6E70;
    font-family: Dosis;
}

.header {
    text-align: center;
    margin-top: 10%;
}

#title {
    font-size: 3em;
}

.content {
    text-align: center;
}

#camera {
    width: 70%;
    height: 20em;
    border: 1px blue dashed;
    margin: auto;
}

#button {
    border: 1px blue dashed;
}

.footer {
    clear: both;
    position: fixed;
    bottom: 0;
    background-color: #58c6d2;
    height: 70px;
    width: 100%;
    margin: 0;
    text-align: center;
    color: white;
}